<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/png" href="images/pound_coin.png">
  <link rel="stylesheet" href="/stylesheet.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Monoton|Roboto" rel="stylesheet">
  <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
  <title>Follow the money!</title>
</head>

<body>

<!-- <div class="omni-div"> -->

<div class="menu-container-container">
<div class="top-left-block">

</div>
  <div class='menu-container'>
  <div class="site-title"><a href="/transactions">
  FOLLOW THE MONEY</a>
  </div>
    <div class='menu'>
      <div class='user'>User: <%=User.find_all[0].name%>
        <div class='change_user'><a href="/users">Change user</a></div>
      </div>
      <div class='budget-left'>Budget left: £<%=TransactionInfo.format_pennies(User.budget(User.find_all[0].budget))%></div>
    </div>
  </div>

  </div>

  <div class='header-container'>
    <div class='header'>
    <div class='first-row'>
        <div class='transactions'><a href="/transactions">View transactions!</a><img src='images/'/></div>


        <div class='new-transaction'><a href="/transactions/new">Make new transaction!</a><img src='images/'/></div>
      </div>

      <div class='second-row'>
        <div class='tags'><a href="/tags">View tags!</a><img src='images/'/></div>
        <div class='users'><a href="/users">View users!</a><img src='images/'/></div>
        <div class='providers'><a href="/providers">View service providers!</a><img src='images/'/></div>
      </div>
    </div>
  </div>

<!-- <nav>
  <ul>
    <li><a href="/transactions">View transactions!</a></li>
    <li> <a href="/tags">View tags!</a>></li>
    <li> <a href="/users">View users!</a>></li>
    <li> <a href="/providers">View service providers!</a>></li>
  </ul>
</nav> -->

<div class='display-container'>
  <div class='view-menu-container'>
    <div class='view-menu'>

      <div class='this-month'><a href="/transactions">this month</a><img src=''/></div>

      <div class='by-tag'><a href="/tags/transactions_by_tag">by tag</a><img src=''/></div>

      <div class='by-provider'><a href="/providers/transactions_by_provider">by providers</a><img src=''/></div>

      <div class='luxury'><a href="/transactions/transactions_by_luxury">luxury overload</a><img src=''/></div>
      <div class='all'><a href="/transactions/transactions_total">lifetime</a><img src=''/></div>
    </div>
  </div>
  <%=yield%>
</div>


<div class='footer'>
  <!-- <div class='footer-item footer-one'></div> -->
  <div class='footer-item footer-two'></div>
  <!-- <div class='footer-item footer-three'></div> -->
</div>

<!-- omni-div
</div> -->

</body>
</html>