* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 1px dotted black;*/
  font-family: 'Roboto', sans-serif;
  font-size: 18px; 
}

a {
  text-decoration: none; 
  color: white;
}
a:hover {
  color: black;
}


td a {
  color: #616163;
}

body {
  background-color: #FFF;
  background-image: url("/images/pound_coin.png");
  opacity: 0.95;
}
/*
menu-container
menu
header-container
header
display-container
footer*/

/*
inside the yield page
sub-menu-container
sub-menu*/

/*FLEXBOX ADAPTED FROM https://internetingishard.com/html-and-css/flexbox/*/

/*.omni-div {
  display: flex;
  width: 920;
}*/

.menu-container-container {
  display: flex;
  flex-direction: row;
}

.top-left-block {
  display: flex;
  width: 200px;
  background-color: #616163;

}

.menu-container{
  color: #fff;
  background-color: #616163;  /* dark grey */
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.site-title a {
  font-size: 50px;
  font-family: 'Monoton', cursive;

}

.menu{
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.header-container {
  color: #5995DA;
  background-color: lightgrey;
  display: flex;
  justify-content: center;

}

/*Use align-items to define the vertical alignment of items.*/
.header {
  width: 900px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.first-row {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.second-row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

}

.display-container{
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

/*.table-friend {
  display: flex;
  flex-direction: row;
}

.yield-buddy {
  display: flex;
  border:; 2px dotted black;
  align-content: flex-start;
  height: 100px;
  width: 100px;
}*/

.view-menu-container{

  color: #fff;
  background-color: hotpink;  /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex: initial;
  width: 200px;






}
.view-menu{

  width: 200px;
  height: 1146px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}

.footer{
  display: flex;
  justify-content: space-between;
  background-color: #616163;
}

.footer-item {
  border: 1px solid #fff;
  background-color: #616163;
  height: 150px;
}

/*.footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}
*/


/*
table from 
https://codepen.io/anon/pen/awZKoN?editors=1100*/



  body {
    background-color: #badaff;
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;


  }

  div.table-title {
     display: block;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
  }

  .table-title h3 {
     color: #badaff;
     font-size: 30px;
     font-weight: 400;
     font-style:normal;
     font-family: "Roboto", helvetica, arial, sans-serif;
     text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
     text-transform:uppercase;
  }


  /*** Table Styles **/

  .table-fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    margin-top: 40px;
    max-width: 600px;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;


  }
   
  th {
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:23px;
    font-weight: 100;
    padding:24px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;

  }

  th:first-child {
    border-top-left-radius:3px;
  }
   
  th:last-child {
    border-top-right-radius:3px;
    border-right:none;
  }
    
  tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }
   
  tr:hover td {
    /*background:#4E5066;*/
    background:#616163;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
    border-bottom: 1px solid #22262e;
  }

  tr:hover a {
    color: #FFF;
  }
  tr:first-child {
    border-top:none;
  }

  tr:last-child {
    border-bottom:none;
  }
   
  tr:nth-child(odd) td {
    background:#EBEBEB;
  }
   
  tr:nth-child(odd):hover td {
    background:#616163;
  }

  tr:last-child td:first-child {
    border-bottom-left-radius:3px;
  }
   
  tr:last-child td:last-child {
    border-bottom-right-radius:3px;
  }
   
  td {
    background:#FFFFFF;
    padding:20px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;

  }

  td:last-child {
    border-right: 0px;
  }

  th.text-left {
    text-align: left;
  }

  th.text-center {
    text-align: center;
  }

  th.text-right {
    text-align: right;
  }

  td.text-left {
    text-align: left;
  }

  td.text-center {
    text-align: center;
  }

  td.text-right {
    text-align: right;
  }

