<h1>All tags!</h1>


<%for tag in @tags %>
<p>Tag ID: <%= tag.id%></p>
<p>#<%= tag.name%><a href="/tags/<%= tag.id%>/edit"> Edit!</a></p>

<%end %>

<p><a href="/tags/new">Make new tag!</a></p>
<p><a href="/tags/transactions_by_tag">See purchases by tag!</a></p>

