<form action ="/users" method ="POST">

<label for="new_user">User name: </label>
<input type="text" id="name" name="name">
<br/>
<label for="user budget">Monthly budget: £</label>
<input type="number" id="budget" name="budget">
<br/>
<input type="submit" value="Userise!">
</form>