<h1>Enter a new transaction</h1>

<form action ="/transactions" method ="POST">

  <label for="user_id">User: </label>  
  <select name="user_id" id="user_id">
    <% for user in @users %>
    <option value="<%= user.id %>"><%= user.name %></option>
    <% end %>

<br/>

    <label for="name">Item purchased: </label> 
    <input type="text" id = "name" name="name">
    <br/>

    <label for="cost">Cost: </label>
    <input type="number" id="cost" name="cost">
    <br/>

    <label for="tag_id">Tag: </label>  
    <select name="tag_id" id="tag_id">
      <% for tag in @tags %>
      <option value="<%= tag.id %>"><%= tag.name %></option>
      <% end %>

      <br/>
      <input type="submit" value="Bosh!">
    </form>


