<form method="POST" action="/providers/<%=@provider.id%>">

<label for="provider name">Provider name: </label>
<input type="text" id="name" name="name" value="<%=@provider.name%>">
<br/>
<input type="SUBMIT" value="Re-provider!">
</form>