<h1>All providers!</h1>


<%for provider in @providers %>

<p><%= provider.name%><a href="/providers/<%= provider.id%>/edit"> Edit!</a></p>

<%end %>

<p><a href="/providers/new">Make new provider!</a></p>
<p><a href="/providers/transactions_by_provider">See purchases by provider!</a></p>

